<div id="home" class="main-banner">
            
		    <div class="d-table">
		        <div class="d-table-cell">
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-7 col-md-12">
                                <h1 style="color:white;">Tracker Lite</h1>
                                <p style="color:white ;">Nutrient and Calorie Tracking Made Simple</p>
							</div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- End Main Banner Area -->
		
		<!-- Start Boxes Area -->
		<section class="boxes-area ptb-100">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-3 col-md-6">
		                <div class="single-box">
		                    <!-- <i class="icofont-doctor"></i> -->
                            <img src="assets/img/step-1.svg" alt="" style="max-width: 80px;
                            max-height: 60px;">
		                    <h3>Simple UI</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		                </div>
		            </div>
		            
		            <div class="col-lg-3 col-md-6">
		                <div class="single-box">
		                    <!-- <i class="icofont-ambulance-cross"></i> -->
                            <img src="assets/img/step-2.svg" alt="" style="max-width: 80px;
                            max-height: 60px;">
		                    <h3>Easy to Use</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		                </div>
		            </div>
		            
		            <div class="col-lg-3 col-md-6">
		                <div class="single-box">
		                    <!-- <i class="icofont-operation-theater"></i> -->
                            <img src="assets/img/step-3.svg" alt="" style="max-width: 80px;
                            max-height: 60px;">
		                    <h3>Know Exactly What Your Body Is Doing</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		                </div>
		            </div>
		            
		            <div class="col-lg-3 col-md-6">
		                <div class="single-box">
		                    <!-- <i class="icofont-stretcher"></i> -->
                            <img src="assets/img/step-4.svg" alt="" style="max-width: 80px;
                            max-height: 60px; ">
		                    <h3>Information Is Never Lost</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!-- Start Footer Area -->
    {{#if loggedIn}}
    {{else}}
        <section class="" id="login">
            <div class="container py-5">
              <div class="row d-flex align-items-center justify-content-center">
                <h1 class="d-flex justify-content-center">Login </h1>

                <div class="col-md-8 col-lg-7 col-xl-6">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                  <form class="login-form">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="loginEmail" class="form-control form-control-lg" placeholder="Email" style="border-radius:30px ;" />
                      <label class="form-label" for="loginEmail" style="padding: 4px 20px;">Email address</label>
                    </div>
          
                    <!-- Password input -->
                    <div class="form-outline mb-4" >
                      <input type="password" id="loginPassword" required="required" placeholder="Password" class="form-control form-control-lg"  style="border-radius:30px ;" />
                      <label class="form-label" for="loginPassword" style="padding: 4px 20px;">Password</label>
                    </div>
          
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-block">Login</button>
          
                  </form>
                </div>
              </div>
            </div>
          </section>
      {{/if}}
        <!-- Footer -->

<footer class="text-center text-lg-start bg-light text-muted">
  
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-5">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-5">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Tracker Lite
            </h6>
            <p>
              Nutrient And Calorie Tracking Made Simple
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
                <a href="#!" class="text-reset">Home</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Dashboard</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Login</a>
              </p>
              <p>
                <a href="#!" class="text-reset">logout</a>
              </p>
              <p>
                <a href="#!" class="text-reset">signup</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-5">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="#">Healthcare</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
		<!-- <footer class="footer-area bg-f9faff">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-6 col-md-6">
		                <p>Copyright @ 2021 GoldMedi. All rights reserved</p>
		            </div>
		            
		            <div class="col-lg-6 col-md-6">
		                <ul>
		                    <li><a href="#">Terms & Conditions</a></li>
		                    <li><a href="#">Privacy Policy</a></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</footer> -->
		<!-- End Footer Area -->
		
		<div class="go-top"><i class="icofont-stylish-up"></i></div>
		
		