<div class="container-fluid">
    <div class="card bg-light border-0 mt-5">
        <h1 class="d-flex justify-content-center">Sign Up</h1>
    <div class="col-lg-6 d-flex mx-auto">
    <article class="card-body" >
        
    <form id="signupForm">
        <div class="form-group input-group">
            <!-- <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div> -->
            <input id="signupEmail" name="email" class="form-control rounded" placeholder="email" type="text">
        </div> 
        <div class="form-group input-group">
            <!-- <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div> -->
            <input id="signupPassword" name="password" class="form-control rounded" placeholder="password" type="text">
        </div> 
        <div class="form-group input-group">
            <!-- <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div> -->
            <select id='gender' class="form-control rounded">
                <option selected="" > Select Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group input-group">
            
            <input name="" class="form-control" placeholder="Amount Of Calories You Want To Consume" type="number">
        </div>
        <div class="form-group input-group">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Gain Muscle
        </label>
        </div> 
        <div class="form-group input-group">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Lose Weight
        </label>
        </div> 
                                            
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a href="/homepage">Log In</a> </p>                                                                 
    </form>
    </article>
</div>
    </div> 
    
    </div> 
    <script src="/javascript/signup.js"></script>